Package: encompass-cockpit
Version: __VERSION__
Section: base
Priority: optional
Architecture: __ARCH__
Installed-Size: 65
Depends: __DEPENDS__
Maintainer: Encompass Maintainers <support@encompass8.com>
Homepage: https://e8.co
Description: Encompass Cast
